.grid{
    width: 1120px;
    height: 1120px;
    border: solid white;
    display: flex;
    flex-wrap: wrap;
    

}
.grid div{
    width: 40px;
    height: 40px;
}
.pink{
    background-image: url('./petal\ 1.png');
    background-size: cover;
    
}
.brown{
    background-image: url('./murs.png');
    background-size: cover;
}
.gris{
    background:none;
}
.red{
    background-image: url('./rosa.png');
    background-size: cover;
}
.white{
    background: none;
}